body {
	text-align: center;
}

table {
	border-collapse: collapse;
	border : 3px solid;
	font-size: 1em;
	margin: 0 auto;
}

td {
	width: 2em;
	height: 2em;
	border: 1px solid grey;
	/*text-align: center;*/
}